<div class="container">
    <div class="row">
<div id="tea" class="carousel slide" data-ride="carousel">

<!--
<div class="col-md-6">
           <%= image_tag("tea/1.jpg", alt: "1",id:"p") %>
</div>
-->

<div class="col-md-6">
<h1 id="title2"><%= order.name %></h1>
</div>
<p>
address:<%= order.address %>,
</p>
<p>
number:<%= order.number %>
</p>
<p>
user:<%= order.user_id %>
</p>
</div>
<div class="col-md-2 col-md-offset-6">
</div>
</div>
</div>
<hr>
